/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.content {
    height: auto;
    margin-bottom: 39px;
}
/* Custom page footer */
.footer {
    color: #777;
    border-top: 1px solid #e5e5e5;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    height: 70px;
}
.media {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1em;
}
/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 15px;
    }

}

span.fa-slack {
    font-size: 1em;
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    margin-right: 0.1em;
}
input#hashtag {
    border: none;
    border-bottom: 1px #ddd solid;
    font-size:1.5em;
    height: 2em;
    font-style: italic;
    color: #868686;
    padding-left: 1.5em;

}
.row.hashtagform {
    margin: 0;
}
input#hashtag:focus {
    outline: none;
}
.hashsign, .spinicon {
    color: #868686;
    font-size: 2em !important;
    position: absolute;
    margin-top: 0.2em;
}
.spinicon {
    margin-left: -1em;
}
.alert {
    padding: 8px
}
/* Tweet Animation */
.first_slide.ng-enter, .slide.ng-enter {
    -webkit-transition: 300ms linear all;
    transition: 300ms linear all;
}
.first_slide.ng-enter {
    opacity: 0;
    height: 0px;
    max-height: 0px;
}
.slide.ng-enter-active {
    opacity:1;
    height: 99px;
    max-height: 99px;
}

.slide.ng-leave {
    opacity: 1;
    height: 99px;
    max-height: 99px;
}
.slide.ng-leave-active {
    opacity: 0;
    height: 0px;
    max-height: 0px;
}