doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='A simple application built with AngularJS, NodeJS and styled with Twitter Bootstrap to fetch new tweets stream for a specific #hashtag.')
        meta(name='author', content='Ibrahim Abdel Fattah Mohamed <b@bingorabbit.com>')
        link(rel='icon', href='/favicon.ico')
        title Shebbak - Your hashtags in a simple and cool UI!
        // Bootstrap core CSS
        link(href='bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        // Custom styles for this template
        link(href='style.css', rel='stylesheet')

    body(ng-app='ShebbakApp')
        .container(ng-controller='MainController')
            .header
                ul.nav.nav-pills.pull-right
                    li.active
                        a(href='#') Home
                    li
                        a(href='#') About
                    li
                        a(href='#') Contact
                h3.text-muted
                    span.fa.fa-slack
                    | Shebbak
             .content
                .media-list
                   .media(ng-repeat='tweet in tweets')
                      .media-left.media-top
                         a(href="#")
                            img.media-object.thumbnail(src="{{tweet.tweet_user_img}}")
                      .media-body
                         h4.media-heading @{{tweet.tweet_username}}
                         span.tweet_info.text-primary.clearfix {{tweet.tweet_info}}
                         span.tweet {{tweet.tweet}}
            .footer
                p &copy; Shebbak 2014
        // /container
        // Bootstrap core JavaScript
        script(type='text/javascript', src='js/socket.io-client/socket.io.js')
        script(type='text/javascript', src='bower_components/angular/angular.js')
        script(type='text/javascript', src='bower_components/angular-socket-io/socket.js')
        script(type='text/javascript', src='bower_components/angular-resource/angular-resource.js')
        script(type='text/javascript', src='js/services.js')
        script(type='text/javascript', src='js/app.js')
