br
p.fragment
    span.fa.fa-slack
    strong Shebbak
    | #{' '} is a simple application fetch new tweets stream for a specific #hashtag. You should login with your twitter credentials so you can authorize the application to fetch latest streams, based on your favorite hastag.
br
br
br
button.btn.btn-lg.btn-default.center-block
    a(href='/auth/twitter')
        img(src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-link.png")